<div id="small-form" class="create-tweet-form-container section-borders">
  <div class="profile-image create-tweet"><img class="create-tweet-user-photo" src="<%= current_user.profile_image_location %>"" height="32px"></div>
  <form id="create-tweet-form" action="/tweets" method="POST">
    <input type="text" name="tweet" placeholder="What's happening?">
    <div class="form-errors"><%= "Tweets " + @errors[:tweet][0] if @errors && @errors[:tweet] %></div>
  </form>
</div>

<div id="big-form" class="create-tweet-form-container section-borders taller">
  <form id="create-tweet-form2" class="taller" action="/tweets" method="POST">

    <div class="form-errors"><%= "Tweets " + @errors[:tweet][0] if @errors && @errors[:tweet] %></div>

    <div class="left-side">
      <div class="profile-image create-tweet"><img class="create-tweet-user-photo" src="<%= current_user.profile_image_location %>"" height="32px"></div>
    </div>

    <div class="right-side">
      <div class="row-1">
        <textarea type="text" name="tweet" placeholder="What's happening?"></textarea>
      </div>
      <div class="row-media"><div id="gif-results"></div></div>
      <div class="row-2">
        <div class="gif-button-container">
          <button class="add-gif-button" type="submit">GIF</button>
            <%= erb :"/tweets/giphy" %>
        </div>
        <button class="create-tweet-button" type="submit">Tweet</button>
      </div>
    </div>
  </form>
</div>
