<div class="tweet-container">
<% if tweet.retweet? %>
  <% actual_tweet_id = tweet.id; actual_created_at = tweet.created_at; retweet = tweet; retweet_id = tweet.id; retweeter = tweet.user; tweet = tweet.get_original_tweet; %>
  <% retweeter_name = 'You' if retweeter.full_name == current_user.full_name %>
  <div class="retweet-info">
    <a id="tweet-user-name" href="<%="/#{retweeter.handle}" %>"><%= retweeter_name ? retweeter_name : retweeter.full_name %></a> Retweeted
  </div>
<% end %>

  <div class="tweet-top-half">
    <div class="profile-image suggested-user left-col">
      <img class="suggested-user-photo" src="<%= tweet.user.profile_image_location %>" height="48px">
    </div>

    <div class="right-col">
      <div class="tweet-info">
        <a class="tweet-user-name" href="/<%= tweet.user.handle %>"><%= tweet.user.full_name %></a>
        <a class="tweet-extra-info" href="/<%= tweet.user.handle %>">@<%= tweet.user.handle %></a>
        <a class="tweet-extra-info" href="/<%= tweet.user.handle %>"><%= tweet.date %></a>
      </div>

      <div class="tweet-text">
        <%= "#{parse_tweet_for_hashtags(tweet.tweet)}" %>
      </div>

      <% if tweet.gif_url %>
        <div class="outer-shrinking-container">
          <div class="gif-container">
            <img src=" <%= tweet.gif_url %> " >
          </div>
        </div>
      <% end %>
      <div class="col-6 tweet-interaction">
        <%= erb :'/tweets/_reply_form', layout: false, locals: {tweet: tweet} %>
        <%= erb :'/tweets/_like_form', layout: false, locals: {tweet: tweet} %>
        <%= erb :'/tweets/_retweet_form', layout: false, locals: {tweet: tweet} %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
