<div class="hover-profile">
  <div class="section-borders hover-profile-shadow">
    <div class="side-profile-user-background"><img src="<%= @user.profile_background_image_location %>" height="96px"></div>
    <div class="side-profile-user-info">
      <div class="side-profile-photo-container"><img class="side-profile-photo"src="<%= @user.profile_image_location %>" height="72px"></div>
      <div class="side-profile-general-details">
        <span class="side-profile-user-full-name"><a href="/<%= @user.handle %>"><%= @user.full_name %></a></span>
        <span class="side-profile-user-handle">@<a href="/<%= @user.handle %>"><%= @user.handle %></a></span>
      </div>
    </div>
    <div class="side-profile-profile-stats">
      <%= erb :'/users/_profile_stats', layout: false, locals: {user: @user} %>
    </div>
  </div>
</div>

