<div class="pop-up-users-container">

  <div class="popup-position">
    <div class="popup-wrapper">
      <div class="popup-container">

        <button class="popup-close">X</button>
      <% @users.each do |user| %>

        <div class="profile-image suggested-user"><img class="suggested-user-photo" src="<%= user.profile_image_location %>" height="48px"></div>
        <a class="suggested-user-name" href="<%="/#{user.handle}" %>"><%= "#{user.full_name}" %></a>
        <a class="suggested-extra-info" href="<%="/#{user.handle}" %>"><%= "@#{user.handle}" %></a>
        <form action="/<%= user.handle %>/follow" method="POST" >
          <button class="follow-button" type="submit">Follow</button>
        </form>

      <% end %>

      </div>
    </div>
  </div>

</div>

