<div class="pop-up-users-container">

  <% @users.each do |user| %>

  <div class="pop-up-user">
    <div class="profile-image"><img class="suggested-user-photo" src="<%= user.profile_image_location %>" height="48px"></div>
      <a class="suggested-user-name" href="<%="/#{user.handle}" %>"><%= "#{user.full_name}" %></a>
      <a class="suggested-extra-info" href="<%="/#{user.handle}" %>"><%= "@#{user.handle}" %></a>

      <form action="/<%= user.handle %>/follow" method="POST" >
        <button class="follow-button" type="submit">Follow</button>
      </form>
  </div>

  <% end %>

</div>

