<div class="section-borders">
  <div class="side-profile-user-background"><img src="<%= current_user.profile_background_image_location %>" width="100%"></div>
  <div class="side-profile-user-info">
    <div class="side-profile-photo-container"><img class="side-profile-photo"src="<%= current_user.profile_image_location %>" height="72px"></div>
    <div class="side-profile-general-details">
      <span class="side-profile-user-full-name"><a href="/<%= current_user.handle %>"><%= current_user.full_name %></a></span>
      <span class="side-profile-user-handle">@<a href="/<%= current_user.handle %>"><%= current_user.handle %></a></span>
    </div>
  </div>
  <div class="side-profile-profile-stats">
  <%= erb :'/users/_profile_stats', layout: false, locals: {user: current_user} %>
  </div>
</div>
