<div class="section-borders">
  <div class="side-profile-user-background"><img src="<%= current_user.profile_background_image_location %>" width="100%"></div>
  <div class="side-profile-user-info">
    <div class="side-profile-photo-container"><img class="side-profile-photo"src="<%= current_user.profile_image_location %>" height="72px"></div>
    <div class="side-profile-general-details">
      <span class="side-profile-user-full-name"><a href="/<%= current_user.handle %>"><%= current_user.full_name %></a></span>
      <span class="side-profile-user-handle">@<a href="/<%= current_user.handle %>"><%= current_user.handle %></a></span>
    </div>
  </div>
  <div class="side-profile-profile-stats">
    <ul>
      <li>
        <span>Tweets</span>
        <a href="<%= "/#{current_user.handle}" %>"><%= current_user.get_tweets_count %></a>
      </li>
      <li>
        <span>Following</span>
        <a class="side-profile-following" href="<%= "/#{current_user.handle}/followings" %>"><%= current_user.get_followings_count %></a>
      </li>
      <li>
        <span>Followers</span>
        <a class="side-profile-followers" href="<%= "/#{current_user.handle}/followers" %>"><%= current_user.get_followers_count %></a>
      </li>
    </ul>
  </div>
</div>
