<section id="sign-up" class="container">
    <div id="mockup"><img width="400px" src="/images/ios.png"></div>
    <div id="signup-form">
        <h1>Sign Up</h1>
        <p>Join the epic world of tweets! Tweeting is seconds away.</p>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input type="text" name="user[first_name]" placeholder="First Name" value="<%= @user.first_name if @user %>">
            <div class="form-errors"><%= "First name " + @errors[:first_name][0] if @errors && @errors[:first_name] %></div>
            <input type="text" name="user[last_name]" placeholder="Last Name" value="<%= @user.last_name if @user %>">
            <div class="form-errors"><%= "Last name " + @errors[:last_name][0] if @errors && @errors[:last_name] %></div>
            <input type="text" name="user[email]" placeholder="Email" value="<%= @user.email if @user %>">
            <div class="form-errors"><%= "Email " + @errors[:email][0] if @errors && @errors[:email] %></div>
            <input type="text" name="user[handle]" placeholder="Handle" value="<%= @user.handle if @user %>">
            <div class="form-errors"><%= "Handle " + @errors[:handle][0] if @errors && @errors[:handle] %></div>
            <input type="password" name="user[password]" placeholder="Password">
            <div class="form-errors"><%= @errors[:password][0] if @errors && @errors[:password] %></div>
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <input type="file" name="profile_image" accept="image/*">
            <div class="form-errors"><%= @errors[:profile_image][0] if @errors && @errors[:profile_image] %></div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</section>
