
<% @tweets.each do |tweet| %>
  <div class="tweet-container">
    <% current_user = User.find(tweet.user_id) %>
      <div>
        <div class="tweet-info">
          <a id="tweet-user-name" href="<%="/#{current_user.handle}" %>"><%= "#{current_user.full_name}"  %></a>
          <a class="" ="tweet-extra-info" href="<%="/#{current_user.handle}" %>"><%= "#{current_user.handle}"  %></a>
          <a class="" ="tweet-extra-info" href="<%= "/#{current_user.handle}" %>"><%= "#{tweet.date}"  %></a>
        </div>

        <div class="tweet-text">
          <%= "#{tweet.tweet}" %>
        </div>


        <div class="tweet-interaction">

          <form action="<%= "/tweets/#{tweet.id}/retweet" %>" method="POST">
            <input type="hidden" name="tweet_id" value="#{tweet.id}">
            <input type="hidden" name="_method" value="put">
            <button type="submit">Reply</button>
          </form>
          <span></span>

          <form action="<%= "/tweets/#{tweet.id}/retweet" %>" method="POST">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="tweet_id" value="#{tweet.id}">
            <button type="submit"><%=  %></button>
          </form>

          <form action="<%= "/tweets/#{tweet.id}/like" %> method="POST">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="tweet_id" value="#{tweet.id}">
            <button type="submit" ><%= tweet.likes %></button>
          </form>
        </div>
      </div>
  </div>
<% end %>
