
<% @suggested_users.each do |suggested_user| %>

  <div class="suggested_user-container">
          <img src="<%= suggested_user.profile_image_location%>">
          <a id="tweet-user-name" href="<%="/#{suggested_user.handle}" %>"><%= "#{suggested_user.full_name}"  %></a>
          <a class="" ="tweet-extra-info" href="<%="/#{suggested_user.handle}" %>"><%= "@#{suggested_user.handle}" %></a>
  </div>

<% end %>